* {
    margin: 0;
    padding 0;
}

body {
    font-family: "JetBrains Mono", Monospace;
    color: #DEDEDE;
    font-size: 23px;
    background-color: #111111;
}

h2 {
	color: lightgreen;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

h3 {
	color: gold;
	padding: 10px 0px;
}

p {
    padding: 10px 0px;
}

img {
	display: block;
	max-width: 100%;
	padding: 20px 0px;
	margin: auto;
}

.homelab-img {
    height: 600px;
}

.footer-media {
	padding: 0px 10px;
	float: left;
}


.container {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}
